body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}




/* Hero Section */
/* .hero-section { 
    background: url('images/hospital.jpg') no-repeat center center/cover;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.5rem;
} */

/* Responsive Images */
/* .img-fluid {
    max-width: 100%;
    height: auto;
} */

/* Responsive Text */
/* @media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2rem;
    }
    .hero-section p {
        font-size: 1rem;
    }
} */